<phpunit>
    <testsuites>
        <testsuite name="Unit">
            <file>test/Cache/File/FileCacheItemTest.php</file>
            <file>test/Cache/File/FileCacheItemPoolTest.php</file>
            <file>test/Model/DeserializationTest.php</file>
        </testsuite>
        <testsuite name="Integration">
            <file>test/Resource/Funktionaer/FunktionaerResourceTest.php</file>
            <file>test/Resource/Starter/StarterResourceTest.php</file>
            <file>test/Resource/Veranstaltung/VeranstaltungResourceTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
        <blacklist>
            <directory>test</directory>
            <directory>vendor</directory>
        </blacklist>
    </filter>
</phpunit>