<phpunit>
    <testsuites>
        <testsuite name="Unit Tests">
            <file>test/Model/DeserializationTest.php</file>
        </testsuite>
        <testsuite name="Integration Tests">
            <file>test/Resource/Funktionaer/FunktionaerResourceTest.php</file>
            <file>test/Resource/Starter/StarterResourceTest.php</file>
            <file>test/Resource/Veranstaltung/VeranstaltungResourceTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>test</directory>
            <directory>vendor</directory>
        </blacklist>
    </filter>
</phpunit>